.modal {
  padding: 19px 16px 16px;
  display: none;
  max-width: 352px;

  &__footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    .btn + .btn {
      margin-left: 10px;
    }
  }
}
