mixin modal(data)
  .modal#modal&attributes(attributes)
    p.mb-10.text-primary Вы подтверждаете свой выбор?
    p.sm.transparent.mb-20 Вы можете изменить свой голос в любой момент, но учитываться будет только 1 голос
    .modal__footer
      a.btn.btn-outline-primary.btn-sm.js-modal-close(href="#") Отмена
      a.btn.btn-primary.btn-sm(href="#") Подтвердить
