h1,
.h1 {
}

h2,
.h2 {
}

h3,
.h3 {
  font-size: 30px;
  line-height: 1.37;
  font-weight: 400;
  color: $primary;

  @include media-breakpoint-down(md) {
    font-size: 24px;
  }
}

h4,
.h4 {
}

h5,
.h5 {
}

h6,
.h6 {
}

p,
.p {
  font-size: 20px;
  line-height: 1.35;
  color: #000;

  @include media-breakpoint-down(md) {
    font-size: 16px;
  }

  &.sm {
    font-size: 14px;
    line-height: 1.36;
  }

  &.xs {
    font-size: 12px;
    line-height: 1.33;
  }

  &.transparent {
    opacity: .5;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p {
  margin-bottom: 0;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-black {
  font-weight: 900;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
