.slider {
  position: relative;
  border-radius: 10px;

  &__item {
  }

  &__item-picture {
    position: relative;
    padding: 60px;
    display: flex !important;
    height: 496px;
    justify-content: center;
    align-items: center;
    background: #f1f3f2;

    @include media-breakpoint-down(sm) {
      padding: 36px;
      height: 300px;
    }
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__header {
    margin: 40px 0;
    text-align: center;
  }

  .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 232px;

    @include media-breakpoint-down(sm) {
      top: 134px;
    }

    &.slick-prev {
      left: 28px;

      @include media-breakpoint-down(sm) {
        left: 10px;
      }
    }

    &.slick-next {
      right: 28px;

      @include media-breakpoint-down(sm) {
        right: 10px;
      }
    }
  }
}
