mixin slider(data)
  .slider&attributes(attributes)
    .slider__item
      .slider__item-picture
        img.slider__img(src="./img/modal-1.jpg", alt)
      .p.slider__header логотип Культурного центра
    .slider__item
      .slider__item-picture
        img.slider__img(src="./img/slider-1.png", alt)
      .p.slider__header логотип Культурного центра
    .slider__item
      .slider__item-picture
        img.slider__img(src="./img/slider-1.png", alt)
      .p.slider__header логотип Культурного центра
    .slider__item
      .slider__item-picture
        img.slider__img(src="./img/slider-1.png", alt)
      .p.slider__header логотип Культурного центра
    .slider__item
      .slider__item-picture
        img.slider__img(src="./img/slider-1.png", alt)
      .p.slider__header логотип Культурного центра
