/* Bootstrap */

/* Buttons */

.btn {
  padding: 13.5px 89.15px;
  font-size: 20px;
  line-height: 1.35;

  @include media-breakpoint-down(sm) {
    padding: 10px 30px;
  }

  &.btn-sm {
    padding: 9.5px 5px;
    width: 100%;
    max-width: 152px;
    border-radius: 4px;
  }
}

/* Slick */

.slick-arrow {
  width: 16px;
  height: 32px;
  flex-shrink: 0;
  font-size: 0;
  background: url(../img/arrow.svg) no-repeat center;
  background-size: contain;

  @include transition;

  &:hover {
    opacity: .7;
  }

  &.slick-prev {
    transform: rotate(180deg);
  }
}

.slick-slide {

  &:focus {
    outline: none;
  }
}

.slick-dots {
  position: absolute;
  top: 464px;
  left: 50%;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);

  @include media-breakpoint-down(sm) {
    top: 280px;
  }

  li {
    padding-left: 0;
    list-style: none;

    @include transition;

    &:hover {
      opacity: .7;
    }

    & + li {
      margin-left: 8px;
    }

    &.slick-active {

      button {
        background: $primary;
      }
    }
  }

  button {
    display: block;
    width: 24px;
    height: 3px;
    font-size: 0;
    background: #c4c4c4;
  }
}

/* Fancybox */

.fancybox-close-small {
  display: none;
}

.fancybox-content {

  a:focus {
    outline: none;
    box-shadow: none;
  }
}
