
include ../blocks/header/header.pug
include ../blocks/section/section.pug
include ../blocks/slider/slider.pug
include ../blocks/teammate/teammate.pug
include ../blocks/order/order.pug
include ../blocks/footer/footer.pug
include ../blocks/modal/modal.pug
include ../blocks/form/form.pug
include ../blocks/team/team.pug
include ../blocks/partners/partners.pug
include ../blocks/input/input.pug
include ../blocks/wrapper/wrapper.pug