.input {
  min-height: 56px;
  font-size: 16px;
  line-height: 1.375;
  border: 1px solid #e0e0e0;
  border-radius: 4px;

  @include transition;

  @include placeholder(rgba(#000, .5));

  &:focus {
    border-color: #e0e0e0;
    outline: none;
    box-shadow: none;
  }

  @include media-breakpoint-down(sm) {
    min-height: 46px;
  }

  &--textarea {
    padding: 20px 24px;
    width: 100%;
    min-height: 278px;
    resize: none;
    border: 0;
    border-radius: 10px;

    @include media-breakpoint-down(sm) {
      padding: 15px;
      min-height: 200px;
    }
  }
}
