mixin section(data)
  .section&attributes(attributes)
    .container
      .row
        .col-lg-4
          .section__author
            .section__author-photo(style="background-image: url(./img/author.jpg);")
            .section__author-content
              p.mb-15 Николай Облапохин
              .p.xs Творческий директор «O&P branding»
        .col-lg-8
          +team
      .row.mt-25
        .col-lg-8
          p.mb-25 Описание работы в несколько строк культурный центр — это место концентрации внеучебной жизни, где любой студент может создавать и реализовывать свои творческие проекты.
      +slider
      .text-center
        a.btn.btn-primary(href="#modal", data-fancybox) Выбрать
