.section {
  margin-top: 52px;
  padding-top: 40px;
  border-top: 1px solid rgba(#000, .1);

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__author {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
      justify-content: center;
    }
  }

  &__author-photo {
    margin-right: 30px;
    width: 127px;
    height: 127px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
  }

  &__author-content {
    max-width: 150px;
  }
}
