.teammate {
  margin: 0 20px;
  text-align: center;

  &.slick-slide {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  &__photo {
    margin-bottom: 13px;
    width: 81px;
    height: 81px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
  }

  &__content {
    max-width: 81px;
  }
}
