mixin teammate(data)
  .teammate&attributes(attributes)
    .teammate__content
      .teammate__photo(style="background-image: url(./img/teammate.jpg);")
      p.sm.mb-5= data.name
      .p.xs.transparent= data.occupation
