.team {
  display: flex;
  width: 100%;

  @include media-breakpoint-down(md) {
    justify-content: center;
  }

  &.slick-slider {
    align-items: center;

    @include media-breakpoint-down(md) {
      justify-content: flex-start;
    }
  }

  .slick-prev {
    margin-right: 7.5px;
  }
}
