mixin team(data)
  .team&attributes(attributes)
    +teammate({
      name: 'Валерия Акимова',
      occupation: 'Дизайнер'
    })
    +teammate({
      name: 'Олеся Фирсова',
      occupation: 'Дизайнер- верстальщик'
    })
    +teammate({
      name: 'Валерия Акимова',
      occupation: 'Архитектор'
    })
    +teammate({
      name: 'Валерия Акимова',
      occupation: 'Менеджер'
    })
    +teammate({
      name: 'Валерия Акимова',
      occupation: 'Тимлид'
    })

    +teammate({
      name: 'Валерия Акимова',
      occupation: 'Дизайнер'
    })
    +teammate({
      name: 'Олеся Фирсова',
      occupation: 'Дизайнер- верстальщик'
    })
    +teammate({
      name: 'Валерия Акимова',
      occupation: 'Архитектор'
    })
    +teammate({
      name: 'Валерия Акимова',
      occupation: 'Менеджер'
    })
    +teammate({
      name: 'Валерия Акимова',
      occupation: 'Тимлид'
    })
