mixin order(data)
  .order&attributes(attributes)
    .container
      .row
        .col-lg-4
          .order__left
            .order__author
              .order__author-photo(style="background-image: url(./img/author.jpg);")
              .order__author-content
                p.mb-15 Николай Облапохин
                .p.xs Творческий директор «O&P branding»
            p Описание работы в несколько строк культурный центр — это место концентрации внеучебной жизни, где любой студент может создавать и реализовывать свои творческие проекты.
        .col-lg-8
          form.order__form(action="#", method="POST")
            textarea.input.input--textarea(placeholder="Ваш комментарий (необязательно)")
            .order__form-footer
              .p.sm.transparent.order__form-comment Вы можете изменить свой голос в любой момент, но учитываться будет только 1 голос
              button.btn.btn-primary.px-30(type="submit") Подтвердить выбор
