.order {
  margin-top: 78px;
  margin-bottom: 46px;
  padding: 78px 0 68px;
  background: #d7eff9;

  @include media-breakpoint-down(md) {
    padding: 40px 0;
  }

  &__left {
  }

  &__author {
    margin-bottom: 45px;
    display: flex;
    align-items: center;
  }

  &__author-photo {
    margin-right: 30px;
    width: 127px;
    height: 127px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
  }

  &__author-content {
    max-width: 150px;
  }

  &__form {
  }

  &__form-footer {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__form-comment {
    max-width: 315px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
}
