mixin partners(data)
  .partners&attributes(attributes)
    .container
      .row
        .col-lg-5
          p.mb-20.mb-lg-35.text-dark Организаторы
          .partners__content
            a.partners__item(href="#")
              img.partners__logo(src="./img/logo-1.svg", style="width: 82px; height: 82px;", alt)
            a.partners__item(href="#")
              img.partners__logo(src="./img/logo-2.png", alt)
        .col-lg-7
          p.mb-20.mb-lg-35.text-dark Партнеры
          .partners__content
            a.partners__item(href="#")
              img.partners__logo(src="./img/logo-1.svg", alt)
            a.partners__item(href="#")
              img.partners__logo(src="./img/logo-2.png", alt)
            a.partners__item(href="#")
              img.partners__logo(src="./img/logo-1.svg", alt)
