.partners {
  margin-top: 46px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    margin-right: 40px;
    margin-bottom: 20px;
    max-width: 223px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      max-width: 50%;
    }
  }

  &__logo {
    max-width: 100%;
  }
}
