extends ../templates/template.pug
block content
  +header({
    modifier: 'login'
  })
  .wrapper
    .container.mb-30.mb-lg-70
      h3.mb-30 Авторизуйтесь, чтобы проголосовать за понравившийся проект
      .row
        .col-lg-4
          form.form(action="#", method="POST")
            .form__item.form-group
              .p.sm.mb-15.text-dark ФИО
              input.input.form-control(type="text")
            .form__item.form-group
              .p.sm.mb-15.text-dark Номер пропуска
              input.input.form-control(type="text")
            button.btn.btn-primary.mt-20(type="submit") Войти
    +partners
  +footer
