extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      h3.mb-15 Конкурс на разработку бренда Культурного центра
      .row
        .col-lg-8
          .p Культурный центр — это место концентрации внеучебной жизни, где любой студент может создавать и реализовывать свои творческие проекты.
    +section
    +section
    +section
    +order
    +partners
  +footer
  +modal
