.header {

  &__wrapper {
    padding: 47px 0 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      padding: 20px 0;
    }
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 30px;
    max-width: 176px;

    @include media-breakpoint-down(sm) {
      margin-right: 20px;
      max-width: 140px;
    }
  }

  &__logo-img {
    max-width: 100%;
  }

  &__user {
    margin-left: 10px;
    display: flex;
    align-items: center;
  }

  &__username {
    margin-right: 25px;
    font-size: 16px;
    line-height: 22px;
    color: $dark;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__userpic {
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
  }
}
