mixin header(data)
  .header&attributes(attributes)
    .container
      .header__wrapper
        .header__left
          a.header__logo(href="index.html")
            img.header__logo-img(src="./img/logo-1.svg", alt)
          a.header__logo(href="index.html")
            img.header__logo-img(src="./img/logo-2.png", alt)
        if data && data.modifier == 'login'
        else
          .header__user
            .header__username Викторовская А.
            .header__userpic(style="background-image: url(./img/teammate.jpg);")
